<section class="container">
  <section class="user contact-form row" id='contact'>
    <h1>Contact</h1>
    <article class="col-sm-4 col-sm-offset-4">
      <p>Tel.: 07725911807</p>
      <a href='https://www.facebook.com/Frikti'><img src='https://s3-eu-west-1.amazonaws.com/frikti/assets/facebook-icon-blue.png'></a>

     <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true, placeholder: "Name" %><br>
        <%= f.input :email, :required => true, placeholder: "Email" %><br>
        <%= f.input :message, :as => :text, :required => true, placeholder: "Your message here..." %><br>
        <div class="form-actions">
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
      <% end %>
    </article>
  </section>
</section>