<div class="contact container-fluid">
    <div class="user contact-form col-sm-offset-1 col-sm-4" id='contact'>
      <h1 class="heading">Contact</h1>
      <div class="info-contact">
        <p>Tel: 07725911807</p>

        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :name, :required => true, placeholder: "Name" %><br>
          <%= f.input :email, :required => true, placeholder: "Email" %><br>
          <%= f.input :message, :as => :text, :required => true, placeholder: "Your message here..." %><br>
          <div class="form-actions">
            <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
          </div>
        <% end %>
        <p class="hidden-sm">For Boudoir photography click <a href="//www.glamourhit.com">here</a>.</p>
      </div>
    </div>
    <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/contact-us/contact.jpg" media="(min-width: 768px)">
      <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/contact-us/contact-small-screen.jpg" media="(min-width: 480px)">
    <!--[if IE 9]></video><![endif]-->
      <img class="contact-img rs-img" srcset="<%= image_url('contact-small-screen.jpg') %>" >
    </picture>


</div>