<div class="header header-color">
  <%= render :partial => 'layouts/navbar' %>
</div>

<% if notice %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="main-heading">
    <h1><%= @gallery.name %></h1>
    <% if user_signed_in? %>
      <%= link_to "Add picture", new_gallery_thumbnail_path(@gallery), :class => "new_picture btn btn-success pull-right" %>
    <% end %>
  </div>

  <%= render 'layouts/thumbnails', :locals => { :gallery => @gallery } %>

</div>

<%= render :partial =>'layouts/footer'%>
