<nav class="navbar" role="navigation">
  <div class="navbar-logo">
    <a href='/' class='navbar-brand'><img src="https://s3-eu-west-1.amazonaws.com/frikti/assets/top_logo.png" /></a>
  </div>
  <div class="navigation pull-right">
    <ul class="nav-links-list">
      <li>
        <%= link_to "Portfolio", root_path, :class => "page_link" %>
      </li>
      <li>
        <%= link_to "Packages & Prices", packages_and_prices_path, :class => "page_link" %>
      </li>
      <li>
        <%= link_to "About", about_index_path, :class => "page_link" %>
      </li>
      <li>
        <%= link_to "Contact", new_contact_path, :class => "page_link" %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>