<nav class="navbar" role="navigation">
  <div class="navbar-logo">
    <a href='/' class='navbar-brand'>
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset='//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/logo-1.png' media="(min-width: 992px)">
          <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/logo-1-small-screen.png" media="(min-width: 480px)">
        <!--[if IE 9]></video><![endif]-->
          <img class="contact-img rs-img" srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/logo-1-small-screen.png" >
      </picture>

    </a>
  </div>
  <a id="nav-toggle" href="#"><span></span></a>
  <div class="navigation">
    <ul class="nav-links-list">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Portfolio", galleries_path, :class => "page_link" %>
        <li>
      <% else %>
        <li class="has-submenu">
          <%= link_to "Portfolio", galleries_path, :class => "page_link" %>
          <ul class="curtain">
            <% @galleries.each do |gallery| %>
              <li class="curtain_li"><%= link_to "#{gallery.name}", gallery_path(:id => gallery.id) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li>
        <%= link_to "Packages & Prices", packages_and_prices_path, :class => "page_link"%>
      </li>
      <li>
        <a href="https://krisjphotographyuk.blogspot.co.uk" class="page_link">Blog</a>
      </li>
      <li>
        <%= link_to "About", about_index_path, :class => "page_link" %>
      </li>
      <li>
        <%= link_to "Contact", new_contact_path, :class => "page_link" %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, :id => "user_signed_in", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
