<!DOCTYPE html>
<html>
  <head>
    <title>KrisJ Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="London wedding, portrait photographer">
    <meta name="keywords" content="Wedding photographer London, Portrait photographer London, Family photographer London, KrisJ Photography">
    <link href="//s3-eu-west-1.amazonaws.com/frikti/assets/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <%= render :partial => 'layouts/navbar' %>
    </div>

    <% if notice %>
      <div class="alert">
        <%= notice %>
      </div>
    <% end %>
    
    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
  
  <%= render 'layouts/footer'%>

</html>