<!DOCTYPE html>
<html>
  <head>
    <title>Frikti - Bespoke Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="London wedding, portrait photographer">
    <meta name="keywords" content="Wedding photographer London, Portrait photographer London, Family photographer London, Frikti Beskpoke Photography">
    <link href="https://s3-eu-west-1.amazonaws.com/frikti/assets/favicon.ico" rel="shortcut icon">
    <!--link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <%= render :partial => 'layouts/navbar' %>
    </div>

    <% if notice %>
      <div class="alert">
        <%= notice %>
      </div>
    <% end %>
    <section class="container">
      <%= yield %>
    </section>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>